input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.warning {
    border-color: red;
    font-weight: bold;
}

.normal {
    border-color: black;
    font-weight: normal;
}